

<ul id="slide-out" class="sidenav sidenav-fixed">
    <li><div class="user-view">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#name"><span class="white-text name">Administration</span></a>
      <a href="#email"><span class="white-text email"></span></a>
    </div></li>
    <li><a  class="waves-effect" href="#!"><i class="material-icons">supervisor_account</i>Manage User</a></li>
    <li><a  class="waves-effect" href="#!"><i class="material-icons">format_list_bulleted</i>Manage Posts</a></li>
  
    <!-- <li><a href="#!">Second Link</a></li> -->
    <li><div class="divider"></div></li>
    <!-- <li><a class="subheader">Subheader</a></li> -->
    <li><a class="waves-effect" href="/">Logout</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  