

<ul id="slide-out" class="sidenav sidenav-fixed">
  <li><div class="user-view">
    <div class="background">
      <img src="images/office.jpg">
    </div>
    <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
    <a href="#name"><span class="white-text name">Administration</span></a>
    <a href="#email"><span class="white-text email"></span></a>
  </div></li>
  <li><a  class="waves-effect" href="#!"><i class="material-icons">supervisor_account</i>Manage User</a></li>
  <li><a  class="waves-effect" href="#!"><i class="material-icons">format_list_bulleted</i>Manage Posts</a></li>

  <!-- <li><a href="#!">Second Link</a></li> -->
  <li><div class="divider"></div></li>
  <!-- <li><a class="subheader">Subheader</a></li> -->
  <li><a class="waves-effect" href="/">Logout</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>


<div class="row">
  <div class="col s12 m2">

  </div>
  <div class="col s12 m10">
    <div class="container">
      <h4>Manage User</h4>
    
    <table>
      <thead>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
            <th>Contact</th>
            <th>City</th>
            <th>Country</th>
            <th>Block</th>
            <th>Remove</th>
        
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Alvin</td>
          <td>Eclair</td>
          <td>$0.87</td>
        </tr>
        <tr>
          <td>Alan</td>
          <td>Jellybean</td>
          <td>$3.76</td>
        </tr>
        <tr>
          <td>Jonathan</td>
          <td>Lollipop</td>
          <td>$7.00</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>